
<%- include("partials/header.ejs") %>

<img class="profile" src="images/Kris.jpg" alt="cat profile">
<p>
  <div class="about-me-container">
    <h2>About Me</h2>
    
    <p> My journey in software development started during university, where I built a strong foundation in coding, problem-solving, and database management. Over time, I tackled more complex projects, including websites using the MVC model. </p> <p> I adopted agile methodologies and used AI tools to enhance my development and research. Being fluent in English and Spanish has also helped me collaborate with diverse teams. </p> <p> My customer service experience sharpened my analytical skills, empathy, and responsibility, and I’m always seeking growth opportunities in my career. </p> <p> In the near term, I aim to deepen my knowledge of key technologies. Looking ahead, I aspire to lead junior teams and help them thrive in the tech world. </p>
</div>


  <%- include("partials/footer.ejs") %>