<%- include("partials/header.ejs") %>


<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="images/computerindex.png" class="large-image" alt="Computer Sinces" width="700" height="370" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Some of my Skills Sharp on this website</h1>
      <p class="lead">My journey in software development started with creating simple web pages, focusing on building clean and functional interfaces. Over time, I have expanded my skills to integrate light back-end functionalities, allowing me to build more robust and dynamic websites. My passion for web development continues to grow as I learn new technologies and tackle new challenges.</p>
      
    </div>
  </div>
</div>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">My Sharpest Skills are:</h2>
  <div class="row">
    <div class="col-lg-4">
        
        <img src="images/JavaScript.png" class="profile" width="140" height="140" alt="JavaScript">
        <h2 class="fw-normal">JavaScript</h2>
        <p>Experienced in building interactive and dynamic web applications using JavaScript.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        
        <img src="images/Python.png" class="profile" width="140" height="140" alt="Python">
        <h2 class="fw-normal">Python</h2>
        <p>Proficient in Python for web development, data analysis, and automation tasks.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        
        <img src="images/WebDesing.jpg" class="profile" width="140" height="140" alt="Web Design">
        <h2 class="fw-normal">Web Design</h2>
        <p>Skilled in creating visually appealing, responsive, and user-friendly web designs.</p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<div style="height: 50px;"></div>
<div class="container">
  <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">What Others Say</h2>
  <div class="row g-5">
    <!-- Testimonio de Jefrry Carmona -->
    <div class="col-lg-4">
      <div class="blockquote">
        <p>Working with Kristopher has been an excellent experience. His skills in web design and back-end validation helped us deliver robust solutions for university students on advanced projects, including a real estate website.</p>
        <footer class="blockquote-footer">Jefrry Carmona, <cite class="cite-color" title="Cybsersecurity Developer">Cybersecurity Developer</cite></footer>
      </div>
    </div>

    <!-- Testimonio de Karen Chavarria -->
    <div class="col-lg-4">
      <div class="blockquote p">
        <p>Kristopher has been an exemplary agent at Foundever,consistently demonstrating punctuality,excellent metrics,and outstanding customer relations.He meets and exceeds all objectives!</p>
        <footer class="blockquote-footer">Karen Chavarria, <cite class="cite-color" title="Team Manager">Team Manager</cite></footer>
      </div>
    </div>

    <!-- Testimonio de Deyner Campos -->
    <div class="col-lg-4">
      <div class="blockquote p">
        <p>Kristopher played a key role in developing one of the best websites for a university course. He contributed significantly to the beauty salon project, which includes a virtual store, appointment system, and admin panel.</p>
        <footer class="blockquote-footer">Deyner Campos, <cite class="cite-color" title="Colleague">Colleague</cite></footer>
      </div>
    </div>
  </div>
</div>






  <%- include("partials/footer.ejs") %>